@keyframes bounce{
  from {transform: translateX(0px);}
  47%  {transform: translateX(0px);}
  50%  {transform: translateX(8px);}
  52%  {transform: translateX(0px);}
  to   {transform: translateX(0px);}
}
