// Colors
$backgroundColor: #030812;
$mainColor: white;
$blue: #3DA5E0;
$yellow: #D9C61B;
$white: #FFFFFF;

// Grid system
$container-padding: 5%;

// Fonts
$serif-font-family: Butler;
$primary-font-family: 'Roboto';
$other-font-family: 'Open Sans', sans-serif;
$font-size : 16px;
$font-size-mobile: 14px;
